* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #011827; 
    color: #ffffff;
    width: 100vw;
    padding: 26px 20px 36px 27px;
    display: flex;
}

nav {
    margin-left:auto;
}

.logo img {
    width: 124px;
    display: grid;
}

.line {
    width: 51px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 7px;
}

h1 {
    margin-left: 1rem;
    height: 84px;
    width: 90px;
    font-size: 1.4rem;
}

.nav-list {
    display: none;
}



.header-img, .content-img {
    width: 100vw;
}

.card-img {
    width: 80vw;
}