* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red; 
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #011827; 
    color: #ffffff;
    width: 100vw;
    padding: 26px 20px 36px 27px;
    display: flex;
}

main {
   
}

nav {
    margin-left:auto;
}

.logo img {
    width: 124px;
    display: grid;
}

.line {
    width: 51px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 7px;
}

h1 {
    margin-left: 1rem;
    height: 84px;
    width: 90px;
    font-size: 1.4rem;
}

.nav-list {
    display: none;
}

.quote-img {
    height: 72px;
    padding-right: 20px;
}

.quote-container {
    display: flex;
    padding: 67px 20px 0 20px;
}

.quote-2 {
    display: none;
}

.quote-span {
    margin-top: 5px;
    display: block;
    font-size: 18px;
}

.quote-text {
    font-size: 24px;
    font-style: italic;
}

.card-container {
    
    
}

.challenges-header {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    margin-top: 105px;
}

.card {
    width: 80%;
    margin-left: 7%;
    margin-right: auto;
    margin-top: 44px;
    border-radius: 8px;
}

.card-img {
    width: 100%;
}

.card-heading {
    font-size: 28px;
    font-weight: 400;
    margin: 0.5rem 1rem;
}

.star-container {
    display: inline;
    margin: 0.5rem 1rem;
}

.star-container img {
    margin-right: 3px;
}

.participants {
    display: inline;
    font-size: 14px;
    margin-left: 6px;
}

.card-text {
    margin: 0.5rem 1rem;
}

.card-btn-container {
    text-align: right;
    margin: 0.5rem 1rem;
}

.card-2, .card-3 {
    display: none;
}

.card-container {
    margin-bottom: 47px;
}




.story-banner {
    background-color: #011827;
    color:#FFFFFF;
    text-align: center;
    padding-bottom: 110px;
}

.story-text {
    font-size: 28px;
    padding: 95px 20px 40px 20px;
}

.content-heading {
    font-size: 32px;
    margin: 30px 0;
}

.content-text {
    font-size: 24px;
    margin: 30px 0;
    }

.content-container {
    padding: 1rem;
}

.content-btn {
    margin: 83px 0;
}



footer {
    background-color: #011827;
    color:#FFFFFF;
    padding: 36px 1.5rem;
}

footer li {
    list-style: none;
    font-size: 18px
}

.footer-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px
}

.footer-text {
    font-size: 18px;
    margin-bottom: 36px
}

.list-gap {
    margin-bottom: 18px;
}







.primary-btn {
    height: 66px;
    width: 308px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #E3170A;
    color: white;
    border: none;
    display: block;
}

.secondary-btn {
    height: 66px;
    width: 308px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #8ACFE5;
    border: none;
   

    
}

.online-challenges-mobile-btn {
    font-size: 16px;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: #36769D;
    font-weight: 700;
    margin-top: 37px;
}

.card-btn {
    height: 44px;
    width: 179px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #E3170A;
    color: white;
    border: none;
}

.dark-btn {
    height: 66px;
    width: 308px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 4px;
    background: transparent;
    border: 2px solid #8ACFE5;
    color:#8ACFE5;
}

.header-img {
    margin-bottom: 37px;
}

.header-img, .content-img {
    width: 100%;
}













.btn-container {
    text-align: center;
}