* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-btn, .secondary-btn, .primary-btn {
  height: 66px;
  width: 308px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 383px;
}

main {
  margin: auto;
  max-width: 1400px;
}

/* || BUTTONS */
.primary-btn {
  background-color: #E3170A;
  border: none;
  color: white;
}

.secondary-btn {
  background-color: #8ACFE5;
  border: none;
}

.online-challenges-btn {
  background: transparent;
  border: none;
  color: #36769D;
  font-size: 16px;
  font-weight: 700;
  margin-top: 37px;
  text-decoration: underline;
}
@media (min-width: 1045px) {
  .online-challenges-btn {
    background-color: #E3170A;
    border: none;
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 24px;
    font-weight: 700;
    height: 66px;
    margin-top: 0;
    text-decoration: none;
    width: 308px;
  }
}

.card-btn {
  background-color: #E3170A;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 44px;
  width: 179px;
}

.dark-btn {
  background: transparent;
  border: 2px solid #8ACFE5;
  color: #8ACFE5;
}

.btn-container {
  text-align: center;
}

@media (min-width: 1045px) {
  .top-btn-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 17px;
    justify-content: center;
    margin-top: -35px;
  }
}

/* || HEADER  */
header {
  background-color: #011827;
  color: #ffffff;
  height: 144px;
  width: 100%;
}
@media (min-width: 1045px) {
  header {
    height: 216px;
  }
}
header .header-heading-container {
  display: flex;
  padding: 25px 20px 35px 27px;
}
header .header-heading-container .logo img {
  height: 88px;
  vertical-align: bottom;
}
header .header-heading-container .header-heading {
  font-size: 24px;
  height: 82px;
  margin-left: 13px;
  width: 90px;
}
@media (min-width: 1045px) {
  header .header-heading-container .header-heading {
    font-size: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: 24 px;
    width: auto;
  }
}
header .hamburger-container {
  margin-left: auto;
}
@media (min-width: 1045px) {
  header .hamburger-container {
    display: none;
  }
}
header .hamburger-container .line {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 6px;
  margin: 7px;
  width: 51px;
}
@media (min-width: 1045px) {
  header nav {
    padding-top: 20px;
  }
}
header nav .nav-list {
  display: none;
}
@media (min-width: 1045px) {
  header nav .nav-list {
    display: flex;
    justify-content: space-evenly;
  }
}
header nav .nav-list li {
  font-size: 24px;
  font-weight: 700;
  list-style: none;
}
header nav .nav-list li:hover {
  color: #8ACFE5;
}

.header-img-xl {
  display: none;
}
@media (min-width: 1045px) {
  .header-img-xl {
    display: block;
    width: 100%;
  }
}

.header-img {
  margin-bottom: 37px;
}
@media (min-width: 1045px) {
  .header-img {
    display: none;
  }
}

.header-img {
  width: 100%;
}

/* || QUOTES */
.quote-container {
  display: flex;
  padding: 67px 20px 0 20px;
}
@media (min-width: 1045px) {
  .quote-container {
    display: flex;
    padding-top: 107px;
  }
}
.quote-container .quote-img {
  height: 72px;
  padding-right: 20px;
}
@media (min-width: 1045px) {
  .quote-container .quote-img {
    height: 96px;
  }
}
.quote-container .quote-text {
  font-size: 24px;
  font-style: italic;
}
.quote-container .quote-text .quote-span {
  display: block;
  font-size: 18px;
  margin-top: 5px;
}

.quote-2 {
  display: none;
}
@media (min-width: 1045px) {
  .quote-2 {
    display: flex;
    padding-top: 107px;
  }
}

@media (min-width: 1045px) {
  .flex-container {
    display: flex;
    padding: 0 4rem;
  }
}

/* || CARDS */
.challenges-heading {
  font-size: 32px;
  font-weight: 400;
  margin-top: 105px;
  text-align: center;
}
@media (min-width: 1045px) {
  .challenges-heading {
    font-size: 36px;
    margin-bottom: 87px;
  }
}

.card-container {
  display: flex;
  gap: 37px;
  margin-bottom: 47px;
  margin-top: 44px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (min-width: 470px) {
  .card-container {
    margin-left: 50px;
  }
}
@media (min-width: 1045px) {
  .card-container {
    margin-bottom: 87px;
  }
}
@media (min-width: 1045px) {
  .card-container {
    margin-left: 0;
  }
}
@media (min-width: 1045px) {
  .card-container {
    justify-content: space-evenly;
    margin-top: 0;
  }
}
.card-container::-webkit-scrollbar {
  display: none;
}
.card-container .card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;
  height: 446px;
  margin: 10px;
  max-width: 363px;
  min-width: 363px;
}
.card-container .card .card-img {
  width: 100%;
}
.card-container .card .card-heading {
  font-size: 28px;
  font-weight: 400;
  margin: 0.5rem 1rem;
}
.card-container .card .star-container {
  display: inline;
  margin: 0.5rem 1rem;
}
.card-container .card .star-container img {
  margin-right: 3px;
}
.card-container .card .participants {
  display: inline;
  font-size: 14px;
  margin-left: 6px;
}
.card-container .card .card-text {
  margin: 0.5rem 1rem;
}
.card-container .card .card-btn-container {
  margin: 0.5rem 1rem;
  text-align: right;
}

/* || STORY */
.story-banner {
  background-color: #011827;
  color: #FFFFFF;
  margin-top: 56px;
  padding: 95px 20px;
  text-align: center;
}
@media (min-width: 1045px) {
  .story-banner {
    padding: 95px 20%;
  }
}
.story-banner .story-text {
  font-size: 28px;
  margin-bottom: 2rem;
}

/* || CONTENT */
.content-img {
  width: 100%;
}

.online-img-big {
  display: none;
}
@media (min-width: 1045px) {
  .online-img-big {
    display: block;
    grid-column: 7/span 6;
  }
}

.content-heading {
  font-size: 32px;
}

.content-text {
  font-size: 24px;
  margin: 25px 0;
}

.content-container {
  padding: 30px 20px 64px 20px;
  text-align: left;
}
@media (min-width: 1045px) {
  .content-container {
    padding: 0;
  }
}

.content-btn {
  margin: 25px 0;
}
@media (min-width: 1045px) {
  .content-btn {
    margin: 0;
  }
}

.content-btn-container {
  text-align: left;
}

@media (min-width: 1045px) {
  .grid-container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
  }
}

@media (min-width: 1045px) {
  .online-img-small {
    display: none;
  }
}

@media (min-width: 1045px) {
  .on-site-img {
    grid-column: 1/span 6;
    min-width: 50%;
  }
}

@media (min-width: 1045px) {
  .content-1 {
    grid-column: 8/span 4;
    margin: auto;
  }
}

@media (min-width: 1045px) {
  .content-2 {
    grid-column: 2/span 4;
    margin: auto;
  }
}

/* || FOOTER */
@media (min-width: 1045px) {
  .footer-grid-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin: auto;
    max-width: 1400px;
  }
}

footer {
  background-color: #011827;
  color: #FFFFFF;
  padding: 64px 1.5rem;
}
footer li {
  font-size: 18px;
  list-style: none;
}

.footer-heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
  padding: 36 0;
}

.footer-text {
  font-size: 18px;
  margin-bottom: 36px;
}

.list-gap {
  margin-bottom: 18px;
}

.follow-us {
  padding-top: 36px;
}
@media (min-width: 1045px) {
  .follow-us {
    grid-column: 10/span 2;
    padding: 0;
  }
}

@media (min-width: 1045px) {
  .footer-info {
    grid-column: 2/span 4;
  }
}

@media (min-width: 1045px) {
  .site-map {
    grid-column: 8/span 2;
  }
}

/*# sourceMappingURL=main.css.map */
