* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html {
    font-family: 'Roboto', sans-serif;
}

body { 
    min-width: 383px; 
}

main {
    margin: auto;
    max-width: 1400px;
}

@import "helper/placeholders";
@import "helper/mixins.scss";
@import "helper/variables";
@import "sections/buttons.scss";
@import "sections/cards.scss";
@import "sections/content.scss";
@import "sections/footer.scss";
@import "sections/header-plus-nav.scss";
@import "sections/quotes.scss";
@import "sections/story.scss";





