* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";


html {
    font-family: 'Roboto', sans-serif;
}

body { 
    min-width: 383px; 
}

main {
    margin: auto;
    max-width: 1400px;
}


/* || BUTTONS */

.primary-btn {
    @extend %large-btn;
    background-color: $primary-btn-color;
    border: none;
    color: white;
}

.secondary-btn {
    @extend %large-btn;
    background-color: $secondary-btn-color;
    border: none;   
}

.online-challenges-btn {
    
    background: transparent;
    border: none;
    color: #36769D;
    font-size: 16px;
    font-weight: 700;
    margin-top: 37px;
    text-decoration: underline;
    
    @include Large-screen() {
        background-color: $primary-btn-color;
        border: none;
        border-radius: 4px;
        color: white;
        display: block;
        font-size: 24px;
        font-weight: 700;
        height: 66px;
        margin-top: 0;
        text-decoration: none;
        width: 308px;
    }
}

.card-btn {
    background-color: $primary-btn-color;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    height: 44px;
    width: 179px;
}

.dark-btn {
    @extend %large-btn;
    background: transparent;
    border: 2px solid #8ACFE5;
    color: $secondary-btn-color;
}

.btn-container {
    text-align: center;
}
    
.top-btn-container {
    @include Large-screen() {
        display: flex;
        flex-direction: row-reverse;
        gap: 17px;
        justify-content: center;
        margin-top: -35px;
    }
}


/* || HEADER & NAV  */

header {
    background-color: $background-color; 
    color: #ffffff;
    height: 144px;
    width: 100%;
    
    @include Large-screen() {
        height: 216px;
    }

    .header-heading-container {
        display: flex;
        padding: 25px 20px 35px 27px;
    
        .logo {
            img {
                height: 88px;
                vertical-align: bottom;
            } 
        }
        
        .header-heading {
            font-size: 24px;
            height: 82px;
            margin-left: 13px;
            width: 90px;
            
            @include Large-screen() {
                font-size: 40px;
                height: 40px;
                margin-top: auto;
                margin-bottom: 5px;
                margin-left: 24 px;
                width: auto;
            }
        }
    }
    
    .hamburger-container {
        margin-left: auto;

        @include Large-screen() {
            display: none;
        }
        button {
            background-color: transparent;
            border: none;
        }
            .line {
                background-color: #FFFFFF;
                border-radius: 25px;
                height: 6px;
                margin: 7px;
                width: 51px;
            }
    }

    .nav-list-show {
        display:block;
        background-color: $background-color;
        position: fixed;
        top:19px;
        right:19px;
        bottom:19px;
        left:19px;
        z-index: 2;
        margin: auto;
        text-align: center;
        animation: mobile-meny-scaling 0.4s forwards;
        animation-delay: 0.1s;
        transform: scale(0.95);
        opacity: 0;    
    
        @include Large-screen() {            
            width: auto;
            height: auto;
            position: relative;
            top:auto;
            right:auto;
            bottom:auto;
            left:auto;
        }
    }

    @keyframes mobile-meny-scaling {
        0% {
            transform: scale(0.95);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    nav {
        display: none;
       
        @include Large-screen(){
            display:block;
            padding-top: 20px;   
        }
        
        .hamburger-cross-container {
            text-align: right;
            transform: translate(-15px, 40px);
            
            
            @include Large-screen() {
                display: none;
            }
    
            .hamburger-cross {
                position: relative;
                z-index: 3;
                background-color: transparent;
                border: none;
                animation: cross-fade-in 0.2s forwards;
                animation-delay: 0.3s;
                opacity: 0;    
            }
                .line {
                    background-color: rgb(255, 255, 255);
                    border-radius: 25px;
                    height: 6px;
                    margin: 7px;
                    width: 51px;
                    
                    
                }
                .line-1 {
                    transform: rotate(45deg);
                }
            
                .line-2 {
                    transform: translate(0px, -13px) rotate(-45deg);
                }
            }

            @keyframes cross-fade-in {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        
        ul { 
            
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 60vh;
            padding-top: 20vh;
                

            @include Large-screen() {
                flex-direction: row;
                display: flex;
                justify-content: space-evenly;
                padding: 0;
                height: auto;
            }
        
            li {
                
                list-style: none;
                font-size:36px;
                font-weight: 700;

                @include Large-screen() {
                font-size: 24px;
                
                }
                &:hover {
                    color: $secondary-btn-color;
                } 
            }
        }
    }
}


.backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    animation: backdrop-fade-in 0.5s forwards;
    
    @include Large-screen() {
        display: none;
    }
}

@keyframes backdrop-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}


.header-img-xl {
    display: none;

    @include Large-screen() {
        display: block;
        width: 100%;
    }
}

.header-img {
    margin-bottom: 37px;

    @include Large-screen() {
        display: none;
    }
}

.header-img {
    width: 100%;
}


/* || QUOTES */

.quote-container {
    display: flex;
    padding: 67px 20px 0 20px;

    @include Large-screen() {
        display: flex;
        padding-top: 107px;
    }

    .quote-img {
        height: 72px;
        padding-right: 20px;

        @include Large-screen() {
            height: 96px;
        }
    }
    
    .quote-text {
        font-size: 24px;
        font-style: italic;
    
        .quote-span {
            display: block;
            font-size: 18px;
            margin-top: 5px;
        }
    }
}

.quote-2 {
    display: none;

    @include Large-screen() {
        display: flex;
        padding-top: 107px;
    }
}

.flex-container {
    @include Large-screen() {
        display: flex;
        padding: 0 4rem;    
    }
}


/* || CARDS */

.challenges-heading {
    font-size: 32px;
    font-weight: 400;
    margin-top: 105px;
    text-align: center;

    @include Large-screen() {
        font-size: 36px;
        margin-bottom: 87px;
    }
}

.card-container {
    display: flex;
    gap: 37px;
    margin-bottom: 47px;
    margin-top: 44px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 

    @include custom-screen(470px) {
        margin-left: 50px;
    }

    @include Large-screen(){
        margin-bottom: 87px;
    }

    @include Large-screen() {
        margin-left: 0;
    }

    @include Large-screen() {
        justify-content: space-evenly;  
        margin-top: 0;
    }

    &::-webkit-scrollbar {
        display: none;
    }
    
    .card {
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;
        height: 446px;   
        margin: 10px;
        max-width: 363px;
        min-width: 363px;
        
        .card-img {
        width: 100%;
        }

        .card-heading {
            font-size: 28px;
            font-weight: 400;
            margin: 0.5rem 1rem;
        }
        
        .star-container {
            display: inline;
            margin: 0.5rem 1rem;
        
            img {
                margin-right: 3px;
            }
        }
        
        .participants {
            display: inline;
            font-size: 14px;
            margin-left: 6px;
        }
        
        .card-text {
            margin: 0.5rem 1rem;
        }
        
        .card-btn-container {
            margin: 0.5rem 1rem;
            text-align: right;
        }
    }
}


/* || STORY */

.story-banner {
    background-color: $background-color;
    color:#FFFFFF;
    margin-top: 56px;
    padding: 95px 20px;
    text-align: center;
    
    @include Large-screen() {        
        padding: 95px 20%;       
    }

    .story-text {
        font-size: 28px;
        margin-bottom: 2rem;    
    }
}


/* || CONTENT */

.content-grid-container {
   
    @include Large-screen() {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        display: grid;
        width: 100%;
    }
}

.content-img {
    width: 100%;
}

.online-img-big {
    display: none;

    @include Large-screen() {
        display:block;
        grid-column: 7 / span 6;
    }
}

.content-heading {
    font-size: 32px;
}

.content-text {
    font-size: 24px;
    margin: 25px 0;
}

.content-container {
    padding: 30px 20px 64px 20px;
    text-align: left;

    @include Large-screen() {
        padding: 0;
    }
}

.content-btn {
    margin: 25px 0; 

    @include Large-screen() {
        margin: 0;
    }
}

.content-btn-container {
    text-align: left;
}

.online-img-small {
    @include Large-screen() {
        display: none;
     }    
}
    
.on-site-img  {
    @include Large-screen() {
        grid-column: 1 / span 6;
        min-width: 50%;
    }
}  

.content-1 {
    @include Large-screen() {
        grid-column: 8 / span 4;    
        margin: auto;
    }
}
    
.content-2 {
    @include Large-screen() {
        grid-column: 2 / span 4;  
        margin: auto;
    }
}


/* || FOOTER */

.footer-grid-container {
    @include Large-screen() {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        margin:auto;
        max-width: 1400px;
    }
}

footer {
    background-color: $background-color;
    color:#FFFFFF;
    padding: 64px 1.5rem;
   
    li {
        font-size: 18px;
        list-style: none;
    }
}

.footer-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
    padding: 36 0;
}

.footer-text {
    font-size: 18px;
    margin-bottom: 36px
}

.list-gap {
    margin-bottom: 18px;
}

.follow-us {
    padding-top: 36px;

    @include Large-screen() {
        grid-column: 10 / span 2;
        padding: 0;
    }
}

.footer-info {
    @include Large-screen() {
        grid-column: 2 / span 4;
    }
}

.site-map {
    @include Large-screen() {
        grid-column: 8 / span 2;
    }
}

